*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Rubik', sans-serif; */
    font-family: "Josefin Sans";
    background: #000021;
    color: #fff;
    transition: 0.5s;
    scroll-behavior: smooth;
}

section {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.header{
    border-right: solid 1px rgba(255,255,255,0.1);
    padding: 50px 40px 40px;
    position: fixed;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    min-height: 100vh;
    width: 230px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    /* position: absolute;
    top: 30px; */
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

/* .header nav{
    top: 100px;
} */

.header nav ul{
    list-style: none;
    padding: 0;
}

.header nav ul li{
    padding: 8px 0;
    position: relative;
    list-style: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: flex;
}

.header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    padding: 10px;
}

.header nav ul li a:hover{
    color:#fa225b;
}


.header nav ul li i{
    color: #fa225b;
    padding: 10px;
}

.header-s-footer{
    /* position: absolute;
    bottom: 25px; */
    /* background: #353353; */
}

.header-s-footer span{
    /* font-family: josefin sans,Sans-serif; */
    font-family: "lato", sans-serif;
    font-weight: 300;
    /* letter-spacing: 0.5px; */
    color: #9c9ab3;
    font-size: 14px;
}


@media(max-width:700px){
    .header{
        left: -230px;
    }
    .header nav ul li{
        font-size: 16px;
    }
    .header nav ul li a{
        font-size: 14px;
    }
}


/* ----------------- Home page --------------  */
.home-page{
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.home-nav{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #353353;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    z-index: 5;
}

.home-nav h3{
    font-size: 14px;
    position: relative;
    background: none;
}

.home-nav .btn{
    background: none;
    height: 20px;
    width: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    /* border: none; */
}

.home-nav .btn div{
    /* height: 2px; */
    padding: 1px;
    border-radius: 5px;
    width: 25px;
    margin-top: 5px;
    background: #fff;
}

.container{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container .profile{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 1;
}

.container .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
}

.container h1{
    padding: 20px;
    font-size: 20px;
}

.container span{
    font-size: 14px;
    font-family: "josefin sans",Sans-serif;
    color: #f81d58;
}

.socials{
    width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.socials a {
    padding: 10px;
}

.socials a i{
    font-size: 20px;
    /* height: 25px;
    width: 25px; */
    /* border-radius: 50%; */
    color: #fa225b;
}

.socials a i:hover{
    color:#fff;
}

.contact-btn{
    display: block;
    margin-top: 40px;
}

.contact-btn a{
    text-decoration: none;
    font-family: josefin sans,Sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #fa225b;
    border-radius: 60px 60px 60px 60px;
    padding: 12px 32px;
    text-transform: uppercase;
}

.contact-btn a:hover{
    background: transparent;
    border: 2px solid #fa225b;
}

/* .contact-btn{
    margin-top: 40px;
}

.contact-btn h3{
    font-size: 20px;
    padding: 10px;
    border-radius: 60px;
    background: #fa225b;
} */

.scroll-indicator{
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 0;
    width: 100%;
}

.mouse-wrapper{
    /* position: absolute;
    left: 0;
    text-align: center;
    bottom: 40px; */
    color: #fff;
    width: 140px;
    /* margin: auto; */
    text-align: center;
    text-decoration: none;
}

.mouse{
    border: solid 2px #fff;
    border-radius: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 26px;
    position: relative;
    width: 20px;
}

.mouse .wheel{
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    -webkit-animation: moving-wheel 1s linear infinite;
    animation: moving-wheel 1s linear infinite;
}

@keyframes moving-wheel {
    from{
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}


@media(min-width: 700px){

    .home-nav{
        display: none;
    }
    .container h1{
        text-align: center;
        font-family: "lato", sans-serif;
        font-weight: 300;
        font-size: 50px;
        letter-spacing: 5px;
        background: -webkit-linear-gradient( #fff, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .container .profile{
        height: 250px;
        width: 250px;
        border-radius: 50%;
        z-index: 1;
    }
    .container span{
        padding: 0px;
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        font-family: "lato", sans-serif;
        /* font-family: "josefin sans",Sans-serif; */
        font-weight: 900;
    }
}


/* ------------- About Me Section -------------  */


.about-me{
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid #fff;
}

.about-me .section-container h1{
    text-align: center;
}


/* ------------- Services Section -------------  */


.service{
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid #fff;
}